.preloader {
    background-image: url(../../assets/images/williams.png);
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    min-height: 100svh;
    width: 100%;
    position: fixed;

    &-header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-block: 2rem;

        h2 {
            font-weight: normal;
            font-size: clamp(2rem, 1.308411214953271rem + 2.990654205607477vw, 4rem);
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 80svh;

        &-text {
            margin-block-start: 2rem;
            font-size: clamp(2rem, 1.308411214953271rem + 2.990654205607477vw, 4rem);
        }

        h1 {
            font-weight: normal;
            font-size: clamp(8rem, 5.579439252336448rem + 10.46728971962617vw, 15rem);
            text-transform: uppercase;
            letter-spacing: 15px;
            line-height: 0.8;
        }
    }
}

.line {
    height: 1px;
    background: #fff;
    margin-block-start: 2rem;
}

@media screen and (max-width: 37.5em) {
    .preloader {
        background-image: url(../../assets/images/williamsp.png);
    }
}
